In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_energy = pd.read_csv("energy.csv", sep= ",")

df_energy.columns = df_energy.columns.str.rstrip('Daily peak [MW]') 
lis=['Total_Production',
      'Renewable_Production',
      'Hidric', 
      'Wind',
      'Solar',
      'Biomass',
      'Bio_cogeneration',
      'Bio_others',
      'Non_renewable_production',
      'Natural_gas', 
      'gas_combined_cicle', 
      'gas_cogeneration',
      'termic',
      'termic_cogeneration',
      'other_termic', 
      'pumping',
      'pumping_consumption', 
      'Importer_balance', 
      'Import', 
      'Export',
      'Consumption']
#df_energy=df_energy.T
#df_energy=df_energy.rename(columns=, inplace=True)

df_energy

,Unnamed: 0,01 Jan 11,02 Jan 11,03 Jan 11,04 Jan 11,05 Jan 11,06 Jan 11,07 Jan 11,08 Jan 11,09 Jan 11,...,18 Nov 22,19 Nov 22,20 Nov 22,21 Nov 22,22 Nov 22,23 Nov 22,24 Nov 22,25 Nov 22,26 Nov 22,27 Nov 22
0,0,5944.0,6051.0,8456.0,8043.0,8135.0,7574.0,7916.0,7248.0,6380.0,...,8476.0,5898.0,8616.0,7276.0,8634.0,8439.0,9689.0,8628.0,7860.0,9956.0
1,1,3904.0,3580.0,4099.0,4870.0,6393.0,6456.0,6512.0,6205.0,4824.0,...,6950.0,5247.0,7544.0,6919.0,7972.0,6437.0,7029.0,6063.0,5461.0,7652.0
2,2,3460.0,3280.0,3577.0,3318.0,3397.0,3191.0,3488.0,3774.0,3619.0,...,3629.0,3627.0,4357.0,2496.0,3215.0,4266.0,4731.0,4907.0,4489.0,3955.0
3,3,195.0,219.0,622.0,1811.0,2901.0,3117.0,2940.0,3136.0,1288.0,...,3547.0,3262.0,3730.0,4700.0,4585.0,4494.0,3838.0,2448.0,1888.0,3533.0
4,4,28.0,40.0,50.0,49.0,54.0,52.0,67.0,23.0,48.0,...,956.0,814.0,652.0,403.0,304.0,614.0,418.0,1096.0,1111.0,974.0
5,5,295.0,296.0,301.0,312.0,307.0,300.0,310.0,304.0,303.0,...,364.0,366.0,362.0,367.0,358.0,331.0,340.0,352.0,341.0,347.0
6,6,178.0,176.0,175.0,187.0,186.0,182.0,184.0,181.0,179.0,...,157.0,163.0,165.0,165.0,167.0,138.0,138.0,150.0,149.0,154.0
7,7,118.0,120.0,129.0,128.0,128.0,123.0,129.0,127.0,126.0,...,213.0,213.0,202.0,202.0,202.0,199.0,204.0,205.0,199.0,199.0
8,8,2454.0,2515.0,4606.0,3392.0,1999.0,1304.0,1438.0,1821.0,1771.0,...,1757.0,701.0,1107.0,377.0,668.0,2708.0,2806.0,2688.0,2528.0,2502.0
9,9,1177.0,187.0,1280.0,498.0,285.0,84.0,286.0,283.0,292.0,...,1729.0,673.0,1077.0,352.0,639.0,2680.0,2776.0,2660.0,2502.0,2475.0
10,10,1640.0,2258.0,3196.0,2684.0,1557.0,991.0,889.0,1404.0,1608.0,...,1378.0,336.0,744.0,0.0,301.0,2281.0,2380.0,2265.0,2165.0,2149.0
11,11,1274.0,1871.0,2676.0,2158.0,1145.0,476.0,326.0,923.0,1228.0,...,380.0,338.0,335.0,359.0,344.0,409.0,423.0,406.0,372.0,340.0
12,12,398.0,398.0,542.0,528.0,531.0,546.0,569.0,495.0,396.0,...,31.0,31.0,31.0,31.0,30.0,30.0,31.0,30.0,30.0,30.0
13,13,112.0,80.0,254.0,254.0,259.0,398.0,268.0,186.0,89.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
14,14,85.0,45.0,221.0,218.0,223.0,215.0,233.0,150.0,53.0,...,28.0,29.0,29.0,29.0,28.0,29.0,29.0,28.0,28.0,29.0
15,15,38.0,37.0,35.0,37.0,39.0,189.0,37.0,39.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,605.0,1262.0,336.0,1960.0,1389.0,1599.0,497.0,949.0,523.0,832.0
17,17,146.0,146.0,351.0,72.0,224.0,357.0,264.0,263.0,262.0,...,-2298.0,3572.0,2452.0,1886.0,1914.0,1373.0,-3325.0,-2213.0,-1643.0,-3373.0
18,18,1283.0,1714.0,1891.0,1239.0,-1139.0,1374.0,-417.0,-998.0,916.0,...,828.0,3520.0,2546.0,1991.0,2106.0,1328.0,275.0,2263.0,964.0,566.0
19,19,1211.0,1694.0,1877.0,1226.0,1128.0,1351.0,440.0,993.0,900.0,...,2441.0,278.0,2623.0,1055.0,1597.0,1378.0,3303.0,2592.0,1925.0,3453.0
20,20,85.0,0.0,273.0,355.0,1092.0,478.0,362.0,1000.0,276.0,...,7171.0,6553.0,6320.0,7503.0,7699.0,7584.0,7429.0,7267.0,6631.0,6642.0
21,21,6171.0,7142.0,8416.0,8430.0,8423.0,8292.0,7994.0,7391.0,7092.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
lis=['Total_Production',
      'Renewable_Production',
      'Hidric', 
      'Wind',
      'Solar',
      'Biomass',
      'Bio_cogeneration',
      'Bio_others',
      'Non_renewable_production',
      'Natural_gas', 
      'gas_combined_cicle', 
      'gas_cogeneration',
      'termic',
      'termic_cogeneration',
      'other_termic', 
      'pumping',
      'pumping_consumption', 
      'Importer_balance', 
      'Import', 
      'Export',
      'Consumption']

In [4]:
dictio={}

In [6]:
df_energy=df_energy.rename(columns=dictio,inplace=True)
df_energy

AttributeError: 'NoneType' object has no attribute 'rename'